<!-- To change the layout of the detail view form, we recommend using JS code in hooks/amigos-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="amigos_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="amigos_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="amigos_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ES LIDER: -->
				<div class="form-group amigos-ESLIDER">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ESLIDER">ES LIDER:<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(ESLIDER)%%>
					</div>
				</div>

				<!-- Field: LIDER -->
				<div class="form-group amigos-LIDER">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="LIDER" data-parent_link="view_parent_modal">LIDER<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(LIDER)%%><%%PLINK(LIDER)%%><%%ADDNEW(lideres)%%></div>
					</div>
				</div>

				<!-- Field: CEDULA -->
				<div class="form-group amigos-CEDULA">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CEDULA">CEDULA</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="CEDULA" id="CEDULA" value="<%%VALUE(CEDULA)%%>">
					</div>
				</div>

				<!-- Field: NOMBRE -->
				<div class="form-group amigos-NOMBRE">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="NOMBRE">NOMBRE</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="NOMBRE" id="NOMBRE" value="<%%VALUE(NOMBRE)%%>">
					</div>
				</div>

				<!-- Field: PUESTO -->
				<div class="form-group amigos-PUESTO">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="PUESTO" data-parent_link="view_parent_modal">PUESTO</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(PUESTO)%%><%%PLINK(PUESTO)%%><%%ADDNEW(divpol2022)%%></div>
					</div>
				</div>

				<!-- Field: NOMBRE DEL PUESTO -->
				<div class="form-group amigos-NOMPUESTO">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="NOMPUESTO">NOMBRE DEL PUESTO</label>
					<div class="col-lg-9">
						<input maxlength="60" type="text" class="form-control" name="NOMPUESTO" id="NOMPUESTO" value="<%%VALUE(NOMPUESTO)%%>">
					</div>
				</div>

				<!-- Field: MESA -->
				<div class="form-group amigos-MESA">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="MESA">MESA</label>
					<div class="col-lg-9">
						<input maxlength="3" type="text" class="form-control" name="MESA" id="MESA" value="<%%VALUE(MESA)%%>">
					</div>
				</div>

				<!-- Field: CELULAR -->
				<div class="form-group amigos-CELULAR">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CELULAR">CELULAR</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="CELULAR" id="CELULAR" value="<%%VALUE(CELULAR)%%>">
					</div>
				</div>

				<!-- Field: DIRECCION -->
				<div class="form-group amigos-DIRECCION">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="DIRECCION">DIRECCION</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="DIRECCION" id="DIRECCION" value="<%%VALUE(DIRECCION)%%>">
					</div>
				</div>

				<!-- Field: CORREO -->
				<div class="form-group amigos-CORREO">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CORREO">CORREO</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="CORREO" id="CORREO" value="<%%VALUE(CORREO)%%>">
					</div>
				</div>

				<!-- Field: OBSERVACIONES -->
				<div class="form-group amigos-OBSERVACIONES">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="OBSERVACIONES">OBSERVACIONES</label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="OBSERVACIONES" id="OBSERVACIONES" value="<%%VALUE(OBSERVACIONES)%%>">
					</div>
				</div>

				<!-- Field: ESTADO -->
				<div class="form-group amigos-ESTADO">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ESTADO">ESTADO<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(ESTADO)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="amigos_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.amigos-ESLIDER')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#amigos_dv_container-loading').addClass('hidden');
						$j('#amigos_dv_container').removeClass('hidden');
						AppGini.focusFormElement('amigos', 'ESLIDER');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#amigos_dv_container-loading').addClass('hidden');
				$j('#amigos_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'amigos',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=amigos&id=<%%URLVALUE(LLAVE)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=amigos&id=<%%URLVALUE(LLAVE)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>