<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the amigos_init() hook (in hooks/amigos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="amigos-LLAVE-<%%VALUE(LLAVE)%%>" class="amigos-LLAVE text-right"><%%SELECT%%><%%VALUE(LLAVE)%%><%%ENDSELECT%%></td>
		<td id="amigos-ESLIDER-<%%VALUE(LLAVE)%%>" class="amigos-ESLIDER"><%%SELECT%%><%%VALUE(ESLIDER)%%><%%ENDSELECT%%></td>
		<td id="amigos-LIDER-<%%VALUE(LLAVE)%%>" class="amigos-LIDER"><%%SELECT%%><%%VALUE(LIDER)%%><%%ENDSELECT%%></td>
		<td id="amigos-CEDULA-<%%VALUE(LLAVE)%%>" class="amigos-CEDULA"><%%SELECT%%><%%VALUE(CEDULA)%%><%%ENDSELECT%%></td>
		<td id="amigos-NOMBRE-<%%VALUE(LLAVE)%%>" class="amigos-NOMBRE"><%%SELECT%%><%%VALUE(NOMBRE)%%><%%ENDSELECT%%></td>
		<td id="amigos-PUESTO-<%%VALUE(LLAVE)%%>" class="amigos-PUESTO"><%%SELECT%%><%%VALUE(PUESTO)%%><%%ENDSELECT%%></td>
		<td id="amigos-NOMPUESTO-<%%VALUE(LLAVE)%%>" class="amigos-NOMPUESTO"><%%SELECT%%><%%VALUE(NOMPUESTO)%%><%%ENDSELECT%%></td>
		<td id="amigos-MESA-<%%VALUE(LLAVE)%%>" class="amigos-MESA text-right"><%%SELECT%%><%%VALUE(MESA)%%><%%ENDSELECT%%></td>
		<td id="amigos-CELULAR-<%%VALUE(LLAVE)%%>" class="amigos-CELULAR"><%%SELECT%%><%%VALUE(CELULAR)%%><%%ENDSELECT%%></td>
		<td id="amigos-DIRECCION-<%%VALUE(LLAVE)%%>" class="amigos-DIRECCION"><%%SELECT%%><%%VALUE(DIRECCION)%%><%%ENDSELECT%%></td>
		<td id="amigos-ESTADO-<%%VALUE(LLAVE)%%>" class="amigos-ESTADO"><%%SELECT%%><%%VALUE(ESTADO)%%><%%ENDSELECT%%></td>
