<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the amigos_init() hook (in hooks/amigos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="amigos-LLAVE-<%%VALUE(LLAVE)%%>" class="amigos-LLAVE text-right"><%%VALUE(LLAVE)%%></td>
		<td id="amigos-ESLIDER-<%%VALUE(LLAVE)%%>" class="amigos-ESLIDER"><%%VALUE(ESLIDER)%%></td>
		<td id="amigos-LIDER-<%%VALUE(LLAVE)%%>" class="amigos-LIDER"><%%VALUE(LIDER)%%></td>
		<td id="amigos-CEDULA-<%%VALUE(LLAVE)%%>" class="amigos-CEDULA"><%%VALUE(CEDULA)%%></td>
		<td id="amigos-NOMBRE-<%%VALUE(LLAVE)%%>" class="amigos-NOMBRE"><%%VALUE(NOMBRE)%%></td>
		<td id="amigos-PUESTO-<%%VALUE(LLAVE)%%>" class="amigos-PUESTO"><%%VALUE(PUESTO)%%></td>
		<td id="amigos-NOMPUESTO-<%%VALUE(LLAVE)%%>" class="amigos-NOMPUESTO"><%%VALUE(NOMPUESTO)%%></td>
		<td id="amigos-MESA-<%%VALUE(LLAVE)%%>" class="amigos-MESA text-right"><%%VALUE(MESA)%%></td>
		<td id="amigos-CELULAR-<%%VALUE(LLAVE)%%>" class="amigos-CELULAR text-right"><%%VALUE(CELULAR)%%></td>
		<td id="amigos-DIRECCION-<%%VALUE(LLAVE)%%>" class="amigos-DIRECCION"><%%VALUE(DIRECCION)%%></td>
		<td id="amigos-ESTADO-<%%VALUE(LLAVE)%%>" class="amigos-ESTADO"><%%VALUE(ESTADO)%%></td>
