<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the gestion_init() hook (in hooks/gestion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="gestion-CODGESTION-<%%VALUE(CODGESTION)%%>" class="gestion-CODGESTION"><%%SELECT%%><%%VALUE(CODGESTION)%%><%%ENDSELECT%%></td>
		<td id="gestion-DESGESTION-<%%VALUE(CODGESTION)%%>" class="gestion-DESGESTION"><%%SELECT%%><%%VALUE(DESGESTION)%%><%%ENDSELECT%%></td>
