<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the lideresgestion_init() hook (in hooks/lideresgestion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="lideresgestion-LLAVE-<%%VALUE(LLAVE)%%>" class="lideresgestion-LLAVE text-right"><%%SELECT%%><%%VALUE(LLAVE)%%><%%ENDSELECT%%></td>
		<td id="lideresgestion-CODGESTION-<%%VALUE(LLAVE)%%>" class="lideresgestion-CODGESTION"><%%SELECT%%><%%VALUE(CODGESTION)%%><%%ENDSELECT%%></td>
		<td id="lideresgestion-CEDULA-<%%VALUE(LLAVE)%%>" class="lideresgestion-CEDULA"><%%SELECT%%><%%VALUE(CEDULA)%%><%%ENDSELECT%%></td>
		<td id="lideresgestion-CELULAR-<%%VALUE(LLAVE)%%>" class="lideresgestion-CELULAR text-right"><%%SELECT%%><%%VALUE(CELULAR)%%><%%ENDSELECT%%></td>
		<td id="lideresgestion-ESTADO-<%%VALUE(LLAVE)%%>" class="lideresgestion-ESTADO"><%%SELECT%%><%%VALUE(ESTADO)%%><%%ENDSELECT%%></td>
